body {
  max-width: 100%;
  max-height: 100%;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  font-family: Kumbh Sans, sans-serif;
}

h1 {
  font-weight: 700;
  padding: 5% 2.5%;
}

hr {
  color: hsl(240, 6%, 50%);
}

button {
  width: 100%;
}

.container-fluid {
  width: 100%;
  height: 100%;
  padding: 10% 15%;
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  padding: 5%;
}

.bg {
  position: absolute;
  top: -60%;
  right: 60%;
}

.woman {
  z-index: 1;
  width: 100%;
  position: relative;
  right: 20%;
}

.box {
  z-index: 2;
  position: absolute;
  top: 44%;
  left: 7%;
}

.arrow {
  width: 3%;
  float: right;
  padding-top: 2%;
}

.btn {
  text-align: left;
}

.btn:focus {
  outline: none;
  box-shadow: none;
  font-weight: 700;
}

.btn:hover {
  color: hsl(14, 88%, 65%);
}

.dropdown-menu {
  border-width: 0;
}

.text {
  padding: 2% 4%;
}
